{% extends 'base.html' %}
{% load static %}

{% block page_title %}-home{% endblock page_title %}
{% block styles %}
<link rel="stylesheet" href="{% static "styles/index.css" %}">

{% endblock styles %}

{% block content %}
<div class="container">


    <header>

    </header>
    <div class="container">
        <h1 class="text-center mt-5">Pizzeria</h1>
        <div class="row">
            <div class="col p-5 text-center">

                <h3></h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="">
                        <h3>Toppings</h3>
                        <br>
                        <div class="row width">
                            <div class="border px-3 p-1">
                                <i class="fa fa-plus">
                                </i>&nbsp; <a href="">Create
                                    toppings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="">
                        <h3>Create Pizza</h3>
                        <br>
                        <div class="row width">
                            <div class="border px-3 p-1">
                                <i class="fa fa-plus">
                                </i>&nbsp; <a href="">Start Pizza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
{% block scripts %}{% endblock scripts %}