{% extends 'base.html' %}
{% load static %}

{% block page_title %}-home{% endblock page_title %}
{% block styles %}
<link rel="stylesheet" href="{% static "styles/index.css" %}">

{% endblock styles %}

{% block content %}
<div class="container">


    <header>

    </header>
    <div class="container">
        <h1 class="text-center mt-5">Pizzeria</h1>
        <div class="row">
            <div class="col p-5 text-center">

                <h3></h3>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="">
                        <h3>Toppings</h3>
                        <br>
                        <div class="row width">
                            <div class="border px-3 p-1">
                                <i class="fa fa-plus">
                                </i>&nbsp; <a href="{% url "topping-form" %}">Create
                                    toppings</a>
                            </div>

                            <div class="mt-5">

                                <table class="table">
                                    <thead>
                                        <tr class="align-middle">
                                            <th scope="col" class="">No.</th>
                                            <th scope="col">name</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        {% for item in toppings %}
                                        <tr class="align-middle">
                                            <td class="" scope="row">
                                                {{ forloop.counter }}
                                            </td>
                                            <td> {{ item.name }}</td>
                                            <td>
                                                {% comment %} <a href="{% url "delete-topping" topping.pk %}?next={{ request.path }}" {% endcomment %}
                                                <a href=""
                                                    type="button" class="btn btn-sm btn-danger"> &#10005;</a>
                                            </td>
                                        </tr>

                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="">
                        <h3>Create Pizza</h3>
                        <br>
                        <div class="row width">
                            <div class="border px-3 p-1">
                                <i class="fa fa-plus">
                                </i>&nbsp; <a href="">Start Pizza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
{% block scripts %}{% endblock scripts %}