{% extends 'base.html' %}
{% load static %}

{% block page_title %}-edit-topping-form{% endblock page_title %}

{% block styles %}
<link rel="stylesheet" href="{% static "pizza/styles/topping_edit_form.css" %}">

{% endblock styles %}

{% block content %}
<div class="container my-5">
    <div class="mb-5">
        <h2>Edit Toppings</h2>
    </div>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ toppingForm.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

{% endblock content %}